.cell.label
	label #{defs.label}:

.cell.fields(ng-controller="CtrlComposeEmail")
	ui-select.tag-transferable(multiple, theme="bootstrap", style="width: 100%;", title="{{'LAVAMAIL.COMPOSE.TITLE_PERSON' | translate}}",
		tagging="tagTransform", tagging-tokens="{{taggingTokens}}", reset-search-input="true", ng-model="#{defs.model}",
		tag-on-focus-loss="$select.search")
		ui-select-match(placeholder="{{'LAVAMAIL.COMPOSE.PLC_SELECT_PERSON' | translate}}", ng-class="$item.name")
			email-context-menu(email="$item.email", is-open="status.isDropdownOpened", no-reply="true")
				span.icon-star(ng-show="$item.isStar")
				span(ng-click="switchContextMenu(); tagClicked($select, $item, #{defs.model});")
					span {{$item.getDisplayName()}}
					span(ng-if="$item.getDisplayName() != $item.email") &#60;{{$item.email}}&#62;
					span(ng-show="$item.isError && $item.isNotFoundError") ({{'LAVAMAIL.COMPOSE.LB_ERROR_NOT_FOUND' | translate}})
					span(ng-show="$item.isError && !$item.isNotFoundError") ({{'LAVAMAIL.COMPOSE.LB_ERROR_UNKNOWN' | translate}})
					//- span(ng-show="!$item.isError") {{$item.getLabel()}}
			img.inverted.loading(src="/img/loader.svg", ng-show="$item.isLoadingKey()")
			span(class="icon-lock {{$item.getSecureClass()}}", ng-show="!$item.isLoadingKey()")

		ui-select-choices(repeat="personEmail in people | filter: personFilter($select.search)")
			span(ng-show="personEmail && personEmail.isError && personEmail.isNotFoundError") &#60;{{personEmail.email}}&#62; {{'LAVAMAIL.COMPOSE.LB_ERROR_NOT_FOUND' | translate}}
			span(ng-show="personEmail && personEmail.isError && !personEmail.isNotFoundError") &#60;{{personEmail.email}}&#62; {{'LAVAMAIL.COMPOSE.LB_ERROR_UNKNOWN' | translate}}

			div.item(ng-if="personEmail && !personEmail.isError && personEmail.isTag")
				span(ng-show="!personEmail.isHidden()") {{personEmail.getDisplayName()}}
				span.icon-star(ng-show="personEmail.isStar")
				span {{personEmail.email}}
				img.inverted.loading(src="/img/loader.svg", ng-show="personEmail.isLoadingKey()")
				span(class="icon-lock {{personEmail.getSecureClass()}}", ng-show="!personEmail.isLoadingKey()")

			div.item(ng-if="personEmail && !personEmail.isError && !personEmail.isTag")
				span(ng-show="!personEmail.isHidden()", ng-bind-html="personEmail.getDisplayName() | highlight: $select.search")
				span.icon-star(ng-show="personEmail.isStar")
				span.muted(ng-bind-html="personEmail.email | highlight: $select.search")
				span(class="icon-lock {{personEmail.getSecureClass()}}")
	button.btn-unstyled.pull-right(ng-click="#{defs.click}")
		span.icon-close